<main>
  <div class="container card mt-5">
    <h1>COMPONENTS</h1>
    <h2>WELCOME TO MY SITE</h2>

    <div class="mb-5">
      <h3>BUTTONS</h3>
      <hr>
      <shared-ui-button><span>Primary Button</span></shared-ui-button>
      <shared-ui-button class="ml-1" [variant]="'secondary'"><span>Secondary Button</span></shared-ui-button>
      <shared-ui-button class="ml-1" [variant]="'secondary'" (click)="toggleTheme();"><span>Secondary Button</span></shared-ui-button>
    </div>

    <div class="mb-5">
      <h3>TEXT</h3>
      <hr>
      <p class="text-center">This is a centered text.</p>
      <p class="text-right">This is a right-aligned text.</p>
      <p class="text-left">This is a left-aligned text.</p>
      <p class="text-justify">This is a justified text.</p>
      <p class="text-uppercase">This is an uppercase text.</p>
      <p class="text-lowercase">This is a lowercase text.</p>
      <p class="text-capitalize">This is a capitalized text.</p>
      <p class="text-bold">This is a bold text.</p>
      <p class="text-italic">This is an italic text.</p>
      <p class="text-underline">This is an underlined text.</p>
      <p class="text-strike">This is a strikethrough text
    </div>

    <div class="mb-5">
      <h3>INPUTS</h3>
      <hr>
      <div class="flex flex-column">
        <div class="mb-1">
          <label class="form-label" for="first_input">Primer input</label>
          <input id="first_input" type="text" class="input input--invalid" placeholder="Primary Input">
          <small class="text-danger">Ha ocurrido un error</small>
        </div>
        <input type="number" class="input mb-1" placeholder="Secondary Input">
        <input type="email" class="input mb-1" placeholder="Email Input">
        <input type="password" class="input mb-1" placeholder="Password Input">
        <input type="date" class="input mb-1" placeholder="Date Input">
        <textarea class="input mb-1" placeholder="Lorem impum dolore"></textarea>
      </div>
    </div>

    <div class="mb-5">
      <h3>TABLE</h3>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Header 1</th>
            <th>Header 2</th>
            <th>Header 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Row 1, Cell 1</td>
            <td>Row 1, Cell 2</td>
            <td>Row 1, Cell 3</td>
          </tr>
          <tr>
            <td>Row 2, Cell 1</td>
            <td>Row 2, Cell 2</td>
            <td>Row 2, Cell 3</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mb-5">
      <h3>MODAL</h3>
      <hr>

      <button class="button button--primary" (click)="openModal();">Open modal</button>

      <shared-component-modal
        [title]="'Modal Title'"
        [size]="'medium'"
        [showFooter]="true"
        [isOpen]="modalIsOpen()"
        (closed)="onModalClosed()"
      >
        <p>This is the content of the modal.</p>
        <div footer>
          <div class="w-100 flex flex-row flex-content-between">
            <div><button class="button button--primary">Botón</button></div>
            <div><button class="button button--secondary" (click)="onModalClosed();">Close</button></div>
          </div>
        </div>
      </shared-component-modal>
    </div>

  </div>
</main>
