<div class="dropdown-container">
  <shared-ui-button
    [variant]="buttonVariant()"
    [outline]="outline()"
    (click)="toggleDropdown()"
    class="dropdown-button"
  >
    {{ buttonText() }}
    <span class="dropdown-icon">
      @if (icon()) {
        <fa-icon [icon]="icon()!"></fa-icon>
      } @else {
        <span class="default-icon">▼</span>
      }
    </span>
  </shared-ui-button>

  @if (isDropdownOpen()) {
    <div class="dropdown-menu">
      <ng-content (itemClicked)="handleItemClick(item.label())"></ng-content>
    </div>
  }

</div>
