<div class="container mt-4">
  <shared-ui-card>
    <h1 class="text-center my-3">Formulario de Registro</h1>
    <hr/>

    <!-- FORM -->
    <form class="px-3" [formGroup]="productForm" (ngSubmit)="onSubmit()">
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_id"
            [label]="'ID'"
            type="number"
            formControlName="id"
            [errorMessage]="isInvalid('id') ? 'El ID es requerido' : ''"
          ></shared-component-input>
        </div>
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_name"
            [label]="'Nombre'"
            type="text"
            formControlName="name"
            [errorMessage]="isInvalid('name') ? 'El nombre es requerido' : ''"
          ></shared-component-input>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_description"
            [label]="'Descripción'"
            type="text"
            formControlName="description"
            [errorMessage]="isInvalid('description') ? 'La descripción es requerida' : ''"
          ></shared-component-input>
        </div>
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_logo"
            [label]="'Logo'"
            type="text"
            formControlName="logo"
            [errorMessage]="isInvalid('logo') ? 'El logo es requerido' : ''"
          ></shared-component-input>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_date_release"
            [label]="'Fecha de Liberación'"
            [min]="today"
            type="date"
            formControlName="date_release"
            [errorMessage]="isInvalid('date_release') ? 'La fecha de liberación es requerida' : ''"
          ></shared-component-input>
        </div>
        <div class="col-sm-12 col-md-6">
          <shared-component-input
            id="product_date_revision"
            [label]="'Fecha de Revision'"
            [readonly]="true"
            [min]="nextYear"
            type="date"
            formControlName="date_revision"
            [errorMessage]="isInvalid('date_revision') ? 'La fecha de revisión es requerida' : ''"
          ></shared-component-input>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-sm-12 text-center">
          <shared-ui-button
            class="mx-3"
            type="button"
            [variant]="'secondary'"
            [disabled]="isLoading()"
            (click)="resetForm()"
          >Reiniciar</shared-ui-button>
          <shared-ui-button
            class="mx-3"
            type="submit"
            [variant]="'primary'"
            [disabled]="isLoading()"
          >Enviar</shared-ui-button>
        </div>
      </div>
    </form>
    <!-- ./FORM -->

  </shared-ui-card>
</div>
