:root {
  /* Light Theme Default */
  --background: #F4F6F9;
  --card-color: #FFFFFF;
  --table-color: var(--card-color);
  --modal-color: var(--card-color);
  --text-color: #333333;
  --primary-color: #F5DF66;
  --secondary-color: #EAECF2;
  --danger-color: #FF4D4F;
  --muted-color: #A0A0A0;
  --header-color: #3b56b1;
}

[data-theme="dark"] {
  --background: #121212;
  --card-color: #474747;
  --table-color: var(--card-color);
  --modal-color: var(--card-color);
  --text-color: #f5f5f5;
  --primary-color: #7367F5;
  --secondary-color: #3b3b3b;
  --danger-color: #FF4D4F;
  --muted-color: #A0A0A0;
  --header-color: #7367F5;
}
