<div class="container mt-4">

  <!-- Search and Add Button -->
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <shared-component-input
        type="search"
        placeholder="Search..."
      ></shared-component-input>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="text-right">
        <shared-ui-button [variant]="'primary'"> Agregar </shared-ui-button>
      </div>
    </div>
  </div>
  <!-- ./Search and Add Button -->

  <shared-ui-card>

  </shared-ui-card>

</div>
