@use "../base/variables" as *;

textarea {
  max-width: 100%;
  min-width: 100%;
  width: auto;
}

.input-container {
  margin-bottom: $spacing-unit;
  display: flex;
  flex-direction: column;
  gap: ($spacing-unit * 0.5);
  .input {
    background-color: $white-color;
    border-radius: $border-radius;
    border: 2px solid darken($color: $white-color, $amount: 75%);
    color: $black-color;
    height: ($spacing-unit * 6);
    line-height: 30px;
    outline: none;
    padding: 0 ($spacing-unit * 2);
    transition: 0.5s ease;
    width: auto;
    &--full-width {
      width: 100%;
    }
    &--icon {
      padding-left: 3rem;
    }
    &--invalid {
      color: var(--danger-color);
      border-color: var(--danger-color);
      &:focus,
      &:hover {
        border-color: var(--danger-color) !important;
        outline: none;
      }
    }
    &::placeholder {
      color: #94a3b8 !important;
    }
    &:focus,
    &:hover {
      border-color: var(--primary-color);
      outline: none;
    }
  }

  .icon {
    fill: none;
    height: 1rem;
    left: 1rem;
    position: absolute;
    width: 1rem;
  }
}
