<div class="container mt-4">
  <!-- Search and Add Button -->
  <div class="row">
    <div class="col-sm-12 col-md-3">
      <shared-component-input
        type="search"
        placeholder="Search..."
      ></shared-component-input>
    </div>
    <div class="col-sm-12 col-md-9">
      <div class="text-right">
        <shared-ui-button [variant]="'primary'"> Agregar </shared-ui-button>
      </div>
    </div>
  </div>
  <!-- ./Search and Add Button -->

  <shared-ui-card>

    <div class="row">
      <div class="col-12">
        <shared-ui-table [data]="visibleProducts()" [config]="tableConfig()">
          <ng-template #actions let-row>
            <shared-component-dropdown [buttonText]="'Opciones'">
              <shared-component-dropdown-item
                label="Ver"
                icon="👁️"
                (itemClick)="handleAction('view', row)"
              ></shared-component-dropdown-item>
              <shared-component-dropdown-item
                label="Editar"
                icon="✏️"
                (itemClick)="handleAction('edit', row)"
              ></shared-component-dropdown-item>
              <shared-component-dropdown-item
                label="Eliminar"
                icon="🗑️"
                (itemClick)="handleAction('delete', row)"
              ></shared-component-dropdown-item>
            </shared-component-dropdown>
          </ng-template>
        </shared-ui-table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 text-left d-flex align-items-center">
        <p class="text-bold">{{ products().length }} Productos</p>
      </div>
      <div class="col-md-6 text-right">
        <shared-component-dropdown [buttonText]=" amountOfItems() + '' " [outline]="true">
          @for (amount of listOfPosibleAmountOfItems(); track $index) {
            <shared-component-dropdown-item
              [label]="amount + ''"
              (itemClick)="changeAmountOfItems(amount)"
            ></shared-component-dropdown-item>
          }
        </shared-component-dropdown>
      </div>
    </div>

  </shared-ui-card>
</div>
