<div class="input-container" [class.invalid]="errorMessage()">
  @if (label()) {
    <label [for]="id()" class="form-label" [class.text-muted]="disabled() || readonly()">
      {{ label() }}
      @if (required()) {
        <span class="required-asterisk text-danger">*</span>
      }
    </label>
  }

  @if (type() === 'textarea') {
    <textarea
      [id]="id()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [value]="value()"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
      class="input"
      [class.input--invalid]="errorMessage()"
    ></textarea>
  } @else {
    <input
      [id]="id()"
      [type]="type()"
      [placeholder]="placeholder()"
      [disabled]="disabled()"
      [readonly]="readonly()"
      [value]="value()"
      (input)="handleInput($event)"
      (blur)="handleBlur()"
      class="input"
      [class.input--invalid]="errorMessage()"
    />
  }

  @if (errorMessage()) {
    <small class="text-danger">{{ errorMessage() }}</small>
  }
</div>
